node_modules/
Ex2/node_modules/
Ex3/node_modules/
Ex4/node_modules/
Ex5/node_modules/
Ex6/node_modules/
Ex7/node_modules/
Ex9/node_modules/
Ex10/node_modules/
Ex11/node_modules/
Express/node_modules/
Game/node_modules/
jasmine/node_modules/
karma/node_modules/